/* Resets all styling so inconsistencies of default styles formatting between browsers are defeated
***************************************************************/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    font-family: inherit;
    vertical-align: baseline;
}

/* Remember focus styles! */
:focus { outline: 0; }

ol, ul { list-style: none; }

/* Tables still need 'cellspacing="0"' in the markup */
table { border-collapse: separate; border-spacing: 0; }
caption, th, td { text-align: left; font-weight: normal; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; }
blockquote, q { quotes: "" ""; }

/* HTML 5 elements as block */  
article, aside, details, figcaption, figure, 
footer, header, hgroup, nav, section, summary { display: block; }

/* Embedded Content */
figure {margin: 0}
img, object, embed, video { max-width: 100%; _width: 100%; height: auto; } /* Fluid images */
img {border: 0;	-ms-interpolation-mode: bicubic} /* Improve IE's resizing of images */
svg:not(:root) {overflow: hidden} /* Correct IE9 overflow */
audio, canvas, video { display: inline-block; } /* Corrects `inline-block` display not defined in IE 8/9. ! normalize.css v2.0.1 | MIT License | git.io/normalize */
audio:not([controls]) { display: none; height: 0; } /* Prevents modern browsers from displaying `audio` without controls. Remove excess height in iOS 5 devices. ! normalize.css v2.0.1 | MIT License | git.io/normalize */

/* Links */
a:focus { outline: thin dotted; } /* Addresses `outline` inconsistency between Chrome and other browsers. */
a:active, a:hover { outline: 0; } /* Improves readability when focused and also mouse hovered in all browsers. */