/*
Theme: Theme Machine Responsive
Author: Orchard Team modified by Planet Telex – http://www.orchardproject.net, http://www.planettelex.net
Copyright: 2012, Orchard. All Rights Reserved
Acknowledgments: Modifications to TheThemeMachine for an enhanced mobile/responsive experience included snippets from: 
HTML5 BP (github.com/h5bp/html5-boilerplate), 
Normalize (git.io/normalize),
1140 Grid System (cssgrid.net/)
*/


/*  Color Palette
**************************************************************

Background: #fff
Borders: #dbdbdb
Text: #434343
Secondary Text: #999999
Main Accent: #999
Links: #5f97af
*/